- wiki_page_title @page, _('Changes')
- add_page_specific_style 'page_bundles/wiki'
- commit = @diffs.diffable

.wiki-page-header.top-area.has-sidebar-toggle.flex-column.flex-lg-row
  = wiki_sidebar_toggle_button

  %h1.page-title.gl-flex-grow-1
    = link_to_wiki_page @page
    %span.light
      &middot;
      = _('Changes')

  .nav-controls.pb-md-3.pb-lg-0
    = link_to wiki_page_path(@wiki, @page, action: :history), class: 'btn gl-button', role: 'button', data: { qa_selector: 'page_history_button' } do
      = s_('Wiki|Page history')

.page-content-header
  .header-main-content
    %strong= markdown_field(commit, :title)
    %span.d-none.d-sm-inline= _('authored')
    #{time_ago_with_tooltip(commit.authored_date)}
    %span= s_('ByAuthor|by')
    = author_avatar(commit, size: 24, has_tooltip: false)
    %strong
      = commit_author_link(commit, avatar: true, size: 24)
    - if commit.description.present?
      %pre.commit-description<
        = preserve(markdown_field(commit, :description))

= render 'projects/diffs/diffs', diffs: @diffs
= render 'shared/wikis/sidebar'
